.navbar {
    white-space: nowrap;
    color: #FFFFFFFF;
    height: 2.5vw;
    width: 100%;
    background-color: #000000FF;
    background-attachment: fixed;
    padding-top: 0.2vw;
    opacity: .7;
}

.openingList {
    margin-top: 0;
    font: 1vw Georgia;
    color: brown;
    margin-left: 30vw;
    margin-right: 20vw;
    background-attachment: fixed;
    padding-top: 0.2vw;
    opacity: .7;
}

.icon {
    vertical-align: center;
    margin-left: 0;
    width: 1.5vw;
    height: 1.5vw;
}

.first {
    font: 1vw Georgia;
    color: brown;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.last {
    font: 1vw Georgia;
    color: brown;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1vw;
}

.name {
    vertical-align: 0.15vw;
    display: inline-flex;
    font-family: Georgia, seri;
    font-size: 2vw;
    margin-right: 2vw;
}

.column {
    text-decoration: none;
    color: wheat;
    margin-left: 4vw;
    font-size: 1vw;
    cursor: pointer;
}

select {
    outline: none;
    border: none;
    text-decoration: none;
    color: wheat;
    background-color: black;
    margin-left: 4vw;
    font-size: 1vw;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

select:hover {
    border: none;
    color: black;
    background-color: wheat;
}

.column:hover {
    color: black;
    background-color: wheat;
}

div.gallery {
    background-color: wheat;
    margin-left: 5%;
    margin-bottom: 5%;
    border: 10px double black;
    float: left;
    width: 25vw;
    height: 15vw;
}

div.outter {
    display: flex;
    margin-left: 19%;
}

div.softpack {
    background-color: gold;
    color: green;
    margin-left: 2%;
    border-radius: 10%;
    padding: 2%;
    float: left;
    width: 15vw;
    height: 20vw;
}

div.outter2 {
    display: flex;
    margin-left: 11%;
}

div.softpack2 {
    background-color: gray;
    color: green;
    margin-left: 8%;
    border-radius: 2%;
    padding: 2%;
    float: left;
    width: 10vw;
    height: 2vw;
}

div.outter3 {
    display: flex;
    margin-left: 20%;
}

div.softpack3 {
    background-color: lightblue;
    color: black;
    margin-left: 8%;
    border-radius: 30%;
    padding: 2%;
    float: left;
    width: 8vw;
    height: 6vw;
}

ul {
    margin-bottom: 15%;
}

li {
    font-size: 1vw;
    margin-left: 30%;
}

.title {
    margin-top: 0;
    color: green;
    font-size: 2vw;
    text-align: center;
}

.title2 {
    margin-top: 0;
    margin-bottom: 0;
    color: beige;
    font-size: 1vw;
    text-align: center;
}

.title3 {
    margin-top: 0;
    margin-bottom: 0;
    color: blue;
    font-size: 1.5vw;
    text-align: center;
}

.explain {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.7vw;
}

.explain3 {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.5vw;
}

.priceRange {
    color: royalblue;
    font-size: 0.7vw;
    margin-left: 2vw;
}

.price {
    color: gray;
    position: relative;
    font-size: 2vw;
    margin-left: 30%;
}

.price2 {
    color: navy;
    position: relative;
    font-size: 2vw;
    margin-left: 18%;
}

.price3 {
    color: navy;
    position: relative;
    font-size: 1vw;
    margin-left: 18%;
}

div.gallery img {
    width: 40%;
    height: auto;
}